$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;
$font-color: #000;
$white: #FFF;

body {
  background-color: $white;
  color: $font-color;
}

.element {
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid $black;
}
.row {
  clear: left;
}
#change-password {
  display: none;
}
#sign-out {
  display: none;
}
#get-games {
  display: none;
}
#play-again {
  display: none;
}
#start-game {
  display: none;
}
.grid {
  display: none;
}
#message #message3 {
  display: none;
}
