$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;
$font-color: #000;
$white: #FFF;

body {
  background-color: lighten(#2c4d8f, 30%);
  color: $font-color;
}
h1 {
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 100px;
}
fieldset {
  text-align: center;
  font-family: 'Sacramento', cursive;
}
.element {
  font-size: 50px;
  padding-top: 20px;
  text-align: center;
  float: left;
  width: 100px;
  height: 100px;
  font-family: 'Sacramento', cursive;
}
.row {
  width: 100%;
  clear: left;
}
.middle-row {
  border-bottom: 3px solid $black;
  border-top: 3px solid $black;
}
.c1 {
  border-right: 3px solid $black;
}
.c3 {
  border-left: 3px solid $black;
}
.gameBoard {
  width: 300px;
  min-height: 300px;
  margin: 0 auto;
  padding: 0;
}
#change-password {
  display: none;
  font-family: 'Sacramento', cursive;
}
#sign-out {
  float: right;
  display: none;
  margin-right: 20px;
  font-family: 'Sacramento', cursive;
}
#get-games {
  display: none;
  float: left;
  margin-left: 20px;
  margin-right: 5px;
  text-align: center;
  font-family: 'Sacramento', cursive;
}
#play-again {
  display: none;
  text-align: center;
  font-family: 'Sacramento', cursive;
}
#play {
  background-color: #ffccff;
}
#start-game {
  display: none;
  text-align: center;
  font-family: 'Sacramento', cursive;
}
#start {
  background-color: #ffccff;
  margin-top: 200px;
  font-size: 100px;
  box-shadow: 10px 11px 0 0;
}
.grid {
  display: none;
}
#message3 {
  font-size: 20px;
  font-family: 'Sacramento', cursive;
}
#message2 {
  font-size: 20px;
  font-family: 'Sacramento', cursive;
  text-align: center;
}
#message {
  font-size: 50px;
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-weight: bold;
}
#passwordMessage {
  font-size: 20px;
  font-family: 'Sacramento', cursive;
  text-align: center;
}
.button {
  background-color: #ffd9b3;
}
input {
  font-size: 17px;
  padding-left: 5px;
  padding-top: 5px;
  border: 1px solid $black;
  border-radius: 15px;
  box-shadow: 3px 4px 0 0;
  background-color: lighten(#2b8c4f, 50%);
}
